<?xml version="1.0" encoding="UTF-8"?>

<!--
This file is part of package:
Sylius RMA Plugin

@copyright MADCODERS Team (www.madcoders.co)
@licence For the full copyright and license information, please view the LICENSE

Architects of this package:
@author Leonid Moshko <l.moshko@madcoders.pl>
@author Piotr Lewandowski <p.lewandowski@madcoders.pl>
-->

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <services>

        <service id="madcoders.sylius_rma_plugin.ui.menu.admin_menu_listener"
                 class="Madcoders\SyliusRmaPlugin\Ui\Menu\AdminMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.admin.main" method="addAdminMenuItems"/>
        </service>

        <service id="madcoders.sylius_rma_plugin.ui.menu.account_menu_listener"
                 class="Madcoders\SyliusRmaPlugin\Ui\Menu\AccountMenuListener">
            <tag name="kernel.event_listener" event="sylius.menu.shop.account" method="addAccountMenuItems"/>
        </service>

    </services>
</container>
