{% block madcoders_rma_return_item_widget %}
    {% apply spaceless %}
        {% set variant = rma_product_view(form.vars.value.productSku) %}
        <tr{% if form.vars.value.maxQty == 0 %} style="display: none;"{% endif %}>
            <td class="single line">
                {% include '@MadcodersSyliusRmaPlugin/Return/Form/Item/_info.html.twig' with {'variant': variant} %}
            </td>
            <td class="left aligned">
                {% include '@MadcodersSyliusRmaPlugin/Return/Form/Item/_options.html.twig' with {'variant': variant} %}
            </td>
            <td class="center line">
                <span class="sylius-quantity" style="display: inline-block" >{{ form_row(form.returnQty) }}</span>
                <span style="vertical-align: top"> / {{ form.vars.value.maxQty }}</span>
            </td>
        </tr>
    {% endapply %}
{% endblock %}
