includes:
    - phpstan-baseline.neon

parameters:
    level: max
    reportUnmatchedIgnoredErrors: false
    paths:
        - src

    doctrine:
        objectManagerLoader: tests/object-manager.php

    excludePaths:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'

        # Test dependencies
        - 'tests/Application/**'

    ignoreErrors:
        - '/Parameter #1 \$configuration of method Symfony\\Component\\DependencyInjection\\Extension\\Extension::processConfiguration\(\) expects Symfony\\Component\\Config\\Definition\\ConfigurationInterface, Symfony\\Component\\Config\\Definition\\ConfigurationInterface\|null given\./'
        # Untyped iterables are accepted by the Sylius PHPStan standard.
        - identifier: missingType.iterableValue
