parameters:
	ignoreErrors:
		-
			message: '#^Property Madcoders\\SyliusRmaPlugin\\Entity\\OrderReturnChangeLog\:\:\$author type mapping mismatch\: database can contain Madcoders\\SyliusRmaPlugin\\Entity\\OrderReturnChangeLogAuthor\|null but property expects Madcoders\\SyliusRmaPlugin\\Entity\\OrderReturnChangeLogAuthor\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/OrderReturnChangeLog.php

		-
			message: '#^Property Madcoders\\SyliusRmaPlugin\\Entity\\RmaConfiguration\:\:\$channel type mapping mismatch\: property can contain Sylius\\Component\\Core\\Model\\ChannelInterface but database expects Sylius\\Component\\Core\\Model\\Channel\.$#'
			identifier: doctrine.associationType
			count: 1
			path: src/Entity/RmaConfiguration.php
