{% set variant = rma_product_view(item.productSku) %}

<tr{% if item.returnQty == 0 %} style="display: none;"{% endif %}>
    <td class="single line">
        {% include '@MadcodersSyliusRmaPlugin/Return/Summary/Item/_info.html.twig' with {'variant': variant} %}
    </td>
    <td class="left aligned">
        {% include '@MadcodersSyliusRmaPlugin/Return/Summary/Item/_options.html.twig' with {'variant': variant} %}
    </td>
    <td class="center line">
        {{ item.returnQty }}
    </td>
</tr>
