<tr>
    <td class="single line">{{ item.productName }}</td>
    <td class="left aligned">
        {{ item.productSku }}
    </td>
    <td class="center line">
        {{ item.returnQty }}
    </td>
</tr>
