{% block subject %}
    Invoice generated
{% endblock %}

{% block body %}
    {% set url = channel.hostname is not null ? 'https://' ~ channel.hostname ~ path('madcoders_rma_verification', { 'code': code }) : url('madcoders_rma_verification', { 'code': code }) %}

    {% autoescape %}
        Hello,
        to continue return process please enter {{ authCodeInterface.authCode }} code on <a target="_blank" href="{{ url }}">verification page</a>.
    {% endautoescape %}
{% endblock %}
