<div class="summary">
    <a>{{ logItem.author.firstName }} {{ logItem.author.lastName }}</a> {{ 'madcoders_rma.admin.history.added_new_note'|trans }}:
</div>
<div class="extra text">
    {{ logItem.note }}
</div>
