<div class="summary">
    <a>{{ logItem.author.firstName }} {{ logItem.author.lastName }}</a> cancelled return <a>{{ logItem.returnNumber }}</a>:
</div>
<div class="extra text">
    Status changed to <strong>Cancelled</strong>
</div>
