<div class="summary">
    <a>{{ logItem.author.firstName }} {{ logItem.author.lastName }}</a> accepted return form:
</div>
<div class="extra text">
Status changed from <strong>Dtaft</strong> to <strong>New</strong>
</div>
