{% if type is defined %}
    {% set type = type ~ '-' %}
{% else %}
    {% set type = null %}
{% endif %}

<div class="ui attached segment">
    <div class="field">
        {{ form_row(form.company, sylius_test_form_attribute(type ~ 'company')) }}
    </div>
    <div class="field">
        {{ form_row(form.street, sylius_test_form_attribute(type ~ 'street')) }}
    </div>
    <div class="field">
        {% include '@SyliusShop/Common/Form/_countryCode.html.twig' with {'form': form.countryCode} %}
    </div>
    <div class="two fields">
        <div class="field">
            {{ form_row(form.city, sylius_test_form_attribute(type ~ 'city')) }}
        </div>
        <div class="field">
            {{ form_row(form.postcode, sylius_test_form_attribute(type ~ 'postcode')) }}
        </div>
    </div>
</div>
