<h1 class="ui header">
    <i class="circular cart icon"></i>
    <div class="content">
        {{ 'madcoders_rma.ui.configuration'|trans }}
        <div class="sub header">
            <div class="ui horizontal divided list">
                <div class="item">
                    {{ 'madcoders_rma.ui.configuration_edit'|trans }}
                </div>
            </div>
        </div>
    </div>
</h1>
